# Dependências
/node_modules

# Arquivos gerados
/dist
/build

# Logs
/logs

# Arquivos de configuração sensíveis
.env

# Arquivos de backup
*.bak

# Arquivos de teste
/coverage

# Arquivos temporários
/tmp
